/* #region global */

html {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #ffffff;
}

a {
  color: #2e2f42;
  direction: underline;
  text-decoration: none;
}

h2 {
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 0.02em;
  text-align: center;
}

h3 {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: left;
}

p {
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: left;
}

ul,
ol {
  list-style-type: none;
  padding: 0;
  padding-left: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1158px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* #endregion */

/* #region header */

.header {
  border-bottom: 1px solid #e7e9fc;
}

.header-container {
  display: flex;
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  box-shadow: 0px 1px 6px 0px #2E2F4214, 0px 1px 1px 0px #2E2F4229, 0px 2px 1px 0px #2E2F4214;
}

.logo {
  color: #4d5ae5;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: left;
  text-transform: uppercase;
  padding-top: 24px;
  padding-bottom: 24px;
  margin-right: 76px;
}

.accent-logo {
  color: #2e2f42;
}

.navigation {
  display: flex;
  align-items: center;
}

.navigation-list {
  display: flex;
  gap: 40px;
}

.menu-item {
}

.menu-link {
  display: block;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding-top: 24px;
  padding-bottom: 24px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
}

.menu-link.emphasis {
  position: relative;
}

.menu-link:hover,
.menu-link:focus,
.menu-link.emphasis {
  color: #404bbf;
}

.menu-link.emphasis::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -1px;
  background-color: #404bbf;
  border-radius: 2px;
  width: 100%;
  height: 4px;
}

.nav-address {
  text-align: left;
  font-style: normal;
  margin-left: auto;
}

.address-list {
  display: flex;
  gap: 40px;
}

.address-item {
  padding-top: 24px;
  padding-bottom: 24px;
}

.address-link {
  color: #434455;
  line-height: 24px;
  letter-spacing: 0.02em;
  padding-top: 24px;
  padding-bottom: 24px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-link:hover,
.address-link:focus {
  color: #404bbf;
}

/* #endregion */

/* #region hero (section 1) */

.section-hero {
  background-color: #2e2f42;
  margin-top: 0;
  margin-right: auto;
  margin-left: auto;
  padding-top: 188px;
  padding-bottom: 188px;
}

.container {
  width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

.container-hero {
  width: 496px;
  margin: 0 auto;
  padding-right: 0;
  padding-left: 0;
}

.hero-header {
  color: #ffffff;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  max-width: 496px;
  margin-bottom: 48px;
}

.hero-button {
  color: #ffffff;
  background-color: #4d5ae5;
  cursor: pointer;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: left;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  padding: 16px 32px 16px 32px;
  border-radius: 4px;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  margin: 0 auto;
}

.hero-button:hover {
  background-color: #404bbf;
}

.hero-button:focus {
  background-color: #404bbf;
}

/* #endregion */

/* #region items (section 2) */

.section-items {
  padding-top: 120px;
  padding-bottom: 120px;
}

.header-section-items {
  color: #2e2f42;
}

.items {
  display: flex;
  gap: 24px;
}

.list-items {
  width: calc((100% - 72px) / 4);
}

.icon-item{
  background-color: #F4F4FD;
  border: 1px solid #8E8F99;
  height: 112px;
  width: 100%;
  border-radius: 4px;
  margin-bottom: 8px;
  display: flex;
}

.header-items {
  color: #2e2f42;
  margin-bottom: 8px;
}

.items-text {
}

/* #endregion */

/* #region team (section 3) */

.section-team {
  background: #f4f4fd;
  padding-top: 120px;
  padding-bottom: 120px;
}

.header-team {
  font-family: 'Roboto', sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.list-team {
  display: flex;
  gap: 24px;
}

.card-team {
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px #2e2f4214;
  box-shadow: 0px 1px 1px 0px #2e2f4229;
  box-shadow: 0px 1px 6px 0px #2e2f4214;
  width: calc((100% - 48px) / 4);
}

.card-team-info {
  padding-top: 32px;
  padding-bottom: 32px;
}

.card-team-posi{
  width: 232px;
  height: auto;
  margin: 0 auto;
}

.card-team-header {
  color: #2e2f42;
  text-align: center;
  margin-bottom: 8px;
}

.card-team-text {
  text-align: center;
  margin-bottom: 8px;
}

.team-social-links{
  display: flex;
  gap: 24px;
  
}

/* #endregion */

/* #region portfolio (section 4) */
.portfolio {
  padding-top: 120px;
  padding-bottom: 120px;
}

.header-portfolio {
  line-height: 1.11;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.list-portfolio {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  row-gap: 48px;
}

.card-portfolio {
  width: calc((100% - 48px) / 3);
}

.card-portfolio {
  width: calc((100% - 48px) / 3);
}

.portfolio-image {
}

.portfolio-card-info {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.header-portfolio-card {
  margin-bottom: 8px;
  color: #2e2f42;
}

.portfolio-card-text {
}

/* #endregion */

/* #region footer */
.footer {
  background-color: #2e2f42;
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer-logo {
  color: #4d5ae5;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: left;
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 16px;
}

.footer-text {
  color: #f4f4fd;
  max-width: 264px;
}

.footer-accent-logo {
  color: #f4f4fd;
  background-color: #2e2f42;
}

.footer-left{
margin-right: 120px;
}

.footer .container{
  display: flex;
}

.footer-right{

}

.footer-header-social{
color: #ffffff;
margin-bottom: 16px;
}

.footer-social-links{
  display: flex;
  gap: 16px;
}

.social-circle{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4D5AE5;
}

/* #endregion */
